<div class="page">
    <h1> Brkfast Dani, also known as Dani Cardenas </h1>
    <img src="images/Headshot.JPG" alt="photo of me" />
      <p> My name is Daniela Cardenas Urrea, but I like to be called Dani. 
        I am a Full Time MBA Student at Georgetown University, graduating this May!
      </p>
    <h1>About Me</h1>
    <p>
      I was raised in the beautiful city of Medellin, Colombia. 
      A city known for overcoming its social and economical struggles. 
      During my childhood I got to experience the transformation of my city, as it transitioned from being a center of violence to being one of the most innovative cities in the world.

    </p>
    <img src="images/Medellin.webp" alt="photo of Medellin Metro" />
  </div>