<div class="container">
  <h1> Brkfast Dani, also known as Dani Cardenas </h1>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-sm-6">
        <img src="/images/Headshot.JPG" class="card-img" alt="Georgetown University">
      </div>
      <div class="col-sm-6">
        <div class="card-body">
          <h3 class="card-title"></h3>
          <p class="card-text">
          <h3>
            My name is Daniela Cardenas Urrea, but I like to be called Dani.
            I am a Full Time MBA Student at Georgetown University, graduating this May!</h3>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-sm-6">
        <div class="card-body">
          <h2 class="card-title">About me</h2>
          <p class="card-text">
          <h3>
            I was raised in the beautiful city of Medellin, Colombia.
            A city known for overcoming its social and economical struggles.
            During my childhood I got to experience the transformation of my city, as it transitioned from being a
            center of violence to being one of the most innovative cities in the world.</h3>
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <img src="/images/Medellin.webp" class="card-img" alt="Georgetown University">
      </div>
    </div>
  </div>
</div>