<div class="container">
  <h1> Brkfast Dani, also known as Dani Cardenas </h1>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-sm-6">
        <img src="/images/Headshot.JPG" class="card-img" alt="Georgetown University">
      </div>
      <div class="col-sm-6">
        <div class="card-body">
          <h3 class="card-title"></h3>
          <p class="card-text">
          <h3>
            My name is Daniela Cardenas Urrea, but I like to be called Dani.
            I am a Full Time MBA Student at Georgetown University, graduating this May!</h3>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-sm-6">
        <div class="card-body">
          <h2 class="card-title">About me</h2>
          <p class="card-text">
          <h3>
            I was raised in the beautiful city of Medellin, Colombia. 
            I grew up always having a big breakfast with my family every day. During the COVID pandemic I decided to start sharing my love for Breakfast with the world.
            For me breakfast is a moment of meditation, reflection and gratitude that must be celebrated every day as a ritual for the day to go on.

            .</h3>
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <img src="/images/Medellin.webp" class="card-img" alt="Georgetown University">
      </div>
    </div>
  </div>
</div>