<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->
    <link href="stylesheets\bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- PAGE CONTENTS -->
    <body>
        <div class="container">
      <div class="container-fluid" style="margin-top:2em;">
  
        <div class="container-fluid" style="text-align: center;" >
          <h1> "..." </h1>
        </div>
  
          <div class="container-fluid" style="text-align: left;" >
          </div>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="/images/Danis Special Oatmeal.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Dani's Special Oatmeal</h5>
                  <ul class="card-text">This is my favorite oatmeal when I wake up early on cold days and need a filling breakfast to get me going. 
                    <li class="list-unstyled">Ingredients:
                      <ul> 
                        <li> ½ cup of oats </li>
                        <li> 1 tbsp of flax meal</li>
                        <li> 1 cup of almond milk</li>
                        <li> 1 tsp of vanilla extract </li>
                        <li> 1/4 cup of blueberries </li>
                        <li> ½ banana</li>
                        <li> 1 tsp of cinnamon </li>
                        <li> Dash of salt </li>
                        <li> Lots of love </li>
                      </ul>
                    </li>
                    <p> Preparation: </p>
                    Place the oats and milk in a pot on low heat, slowly add the flax seeds, and vanilla extract. Once the oats are cooked add the blueberries and cinnamon. Mix and divide into two bowls. Slice half a banana as a final topping and enjoy!
                    </p>
                  <p class="card-text"><small class="text-muted">your text here</small></p>
                </div>
              </div>
            </div>
          </div>
              <div class="col-sm-6">
                  <div class="card h-100" style="width: 18rem;">
                      <img src="images/Food & Drink/Airship 2.png" class="card-img-top" alt="...">
                      <div class="card-body">
                      <h5 class="card-title">Airship Coffee Roasters</h5>
                      <p class="card-text">Experience farm direct, fresh roast coffee.</p>
                      <a href="https://g.page/airshipcoffee?share" target="_blank" class="btn btn-dark">Address</a>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6">
                  <div class="card h-100" style="width: 18rem;">
                      <img src="images/Food & Drink/Heroes Coffee.png" class="card-img-top" alt="...">
                      <div class="card-body">
                      <h5 class="card-title">Heroes Coffee Company</h5>
                      <p class="card-text">Local roasters, known for their chill vibe.</p>
                      <a href="https://goo.gl/maps/qsX3r21JKmc1BtxG9" target="_blank" class="btn btn-dark">Address</a>
                      </div>
                  </div>
              </div>
          </div>
          </div>
        </div>
  