<div class="container">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class=" carousel-image" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice"
          focusable="false" style="background-image: url(/images/view.JPG)">
          <div class="carousel-overlay"></div>
        </div>


        <div class="carousel-caption text-start">
          <h1>Morning Person &#127774; and Breakfast Lover  
&#129374;</h1>
          <p><a class="btn btn-lg btn-primary" href="/about">Learn more</a></p>
        </div>

      </div>
      <div class="carousel-item">
        <div class=" carousel-image" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice"
          focusable="false" style="background-image: url(/images/franchtoast.JPG)">
          <div class="carousel-overlay"></div>
        </div>


        <div class="carousel-caption">
          <h1>This is not a food blog</h1>
          <p>This is a breakfast site to appreciate the most important meal of the day</p>
          <p><a class="btn btn-lg btn-primary" href="/about">Learn more</a></p>
        </div>

      </div>
      <div class="carousel-item">
        <div class=" carousel-image" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice"
          focusable="false" style="background-image: url(/images/oatmeal.JPG)">
          <div class="carousel-overlay"></div>
        </div>


        <div class="carousel-caption text-end">
          <h1>Dinner??</h1>
          <p>No way!</p>
          <p><a class="btn btn-lg btn-primary" href="/about">Learn more</a></p>
        </div>

      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="text-start">
    <h1>See below for some places to grab breakfast in the DC area!</h1>
  </div>
  <div id="map"></div>

</div>

<script type="text/javascript">
  let map;
  let service;
  let infowindow;

  function initMap() {
    const coordinates = { lat: 38.9072, lng: -77.0369 };

    infowindow = new google.maps.InfoWindow();
    map = new google.maps.Map(document.getElementById("map"), {
      center: coordinates,
      zoom: 14
    });

    var request = {
      location: coordinates,
      radius: '1000',
      query: 'breakfast'
    };
    service = new google.maps.places.PlacesService(map);
    service.textSearch(request, (results, status) => {
      if (status === google.maps.places.PlacesServiceStatus.OK && results) {
        for (let i = 0; i < results.length; i++) {
          createMarker(results[i]);
        }
        map.setCenter(results[0].geometry.location);
      }
    });

    function createMarker(place) {
      if (!place.geometry || !place.geometry.location) return;
      const marker = new google.maps.Marker({
        map,
        position: place.geometry.location
      });
      console.log("place name: ", place.name)
      google.maps.event.addListener(marker, "click", function () {
        infowindow.setContent(
          "<div><strong>" +
          place.name +
          "</strong></div>"
        );
        infowindow.open(map, this);
      });
    }
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%=mapKey%>&libraries=places&callback=initMap" async></script>