<div class="container">
  <div class="row">
    <div class="card m-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <img src="/images/Danis Special Oatmeal.png" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 style="text-align: center;" class="card-title">Dani's Special Oatmeal </h5>
          <ul class="card-text">This is my favorite oatmeal when I wake up early on cold days and need a filling
            breakfast to get me going.
            <p></p>
            <li class="list-unstyled">Ingredients:
              <ul>
                <li> ½ cup of oats </li>
                <li> 1 tbsp of flax meal</li>
                <li> 1 cup of almond milk</li>
                <li> 1 tsp of vanilla extract </li>
                <li> 1/4 cup of blueberries </li>
                <li> ½ banana</li>
                <li> 1 tsp of cinnamon </li>
                <li> Dash of salt </li>
                <li> Lots of love </li>
              </ul>
            </li>
            <p></p>
            <p> Preparation: </p>
            Place the oats and milk in a pot on low heat, slowly add the flax seeds, and vanilla extract. Once the oats
            are cooked add the blueberries and cinnamon. Mix and divide into two bowls. Slice half a banana as a final
            topping and enjoy!
            </p>
            <p class="card-text"><small class="text-muted">your text here</small></p>
        </div>
      </div>
    </div>


    <div class="card m-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <img src="/images/Danis Special Oatmeal.png" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 style="text-align: center;" class="card-title">Dani's Special Oatmeal </h5>
          <ul class="card-text">This is my favorite oatmeal when I wake up early on cold days and need a filling
            breakfast to get me going.
            <p></p>
            <li class="list-unstyled">Ingredients:
              <ul>
                <li> ½ cup of oats </li>
                <li> 1 tbsp of flax meal</li>
                <li> 1 cup of almond milk</li>
                <li> 1 tsp of vanilla extract </li>
                <li> 1/4 cup of blueberries </li>
                <li> ½ banana</li>
                <li> 1 tsp of cinnamon </li>
                <li> Dash of salt </li>
                <li> Lots of love </li>
              </ul>
            </li>
            <p></p>
            <p> Preparation: </p>
            Place the oats and milk in a pot on low heat, slowly add the flax seeds, and vanilla extract. Once the oats
            are cooked add the blueberries and cinnamon. Mix and divide into two bowls. Slice half a banana as a final
            topping and enjoy!
            </p>
            <p class="card-text"><small class="text-muted">your text here</small></p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="card h-100" >
        <img src="images/Food & Drink/Airship 2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Airship Coffee Roasters</h5>
          <p class="card-text">Experience farm direct, fresh roast coffee.</p>
          <a href="https://g.page/airshipcoffee?share" target="_blank" class="btn btn-dark">Address</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card h-100" >
        <img src="images/Food & Drink/Heroes Coffee.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Heroes Coffee Company</h5>
          <p class="card-text">Local roasters, known for their chill vibe.</p>
          <a href="https://goo.gl/maps/qsX3r21JKmc1BtxG9" target="_blank" class="btn btn-dark">Address</a>
        </div>
      </div>
    </div>
  </div>
</div>